.container{
    margin: 0px auto;
    width: 50%;

}
.container__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__name__title{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    margin: 5px;
}
/* 照片區 */
.container__name__personImagebox{
    width: 100%;
    display: flex;
    align-items: center;
}
.container__name__personImage{
    width:30px;
    height: 30px;
    object-fit: contain;
    display: block;
    border-radius: 50%;
    border: 1px solid black;
}
.container__name__username{
    margin: 5px;
}
.container__picture{
    border: 2px solid black;
    max-width: 100%;
    position: relative;
}
.post__main__picture{
    width: 100%;
    height: 500px;
    object-fit: contain;
    display: block;
}
.picture__like{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture__Leftbtn{
    position: absolute;
    top:50%;
    left:10px;
}
.picture__Rightbtn{
    position: absolute;
    top:50%;
    right:10px;
}
.picture__dot{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 5px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: aqua;
}
.container__icon{
    display: flex;
    justify-content: space-between;

}
/* 愛心 傳送 收藏icon */
.container__icon__left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__like{
    display: flex;
    margin: 5px 0px;
}
/* 留言區 */
.container__auth{
    margin: 5px 0px;
    font-weight: 700;
}
.container__msg{
    display: flex;
    justify-content: space-between;
}
.container__msg__main{
    display: flex;
    margin: 5px 0px;

}
.container__msg__name{
    margin-right: 10px;
}
.container__msg__input{
    width: 100%;
}
.msg__input{
    width: 100%;
    outline: none;
    border: 0px;
    font-size: 16px;
    margin: 5px 0px;
}
.container__hr{
    width: 100%;
    margin:15px 0px;
}