html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
.root {
  height: inherit;
}
a {
  text-decoration: none;
  background-color: #fff;
}
a:link {
  text-decoration: none;
  background-color: #fff;
}
a:active {
  text-decoration: underline;
  background-color: #fff;
}
a:visited {
  text-decoration: underline;
  background-color: #fff;
}
