

.otherLogo__item{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.otherLogo__item:hover{
    background-color: lightgray;
}
.leftSideBar{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 0;
    border-right: 1px solid lightgray;
}
/* toplogo */
.mainLogo{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sideBarLogo{
    width: 60%;
    margin:0px 10px;
}
.sideBarLogo__ins{
    display: none;
}
/* middle logo */
.otherLogo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    position: relative;
}
.otherLogo__item__personImg{
    width: 25px;
    height: 25px;
    padding: 20px;
}
.personImg{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
}
/* lower logo */
.hamburger{
    display: flex;
    flex-direction: column;
}

@media(max-width:1268px){
    .leftSideBar{
        width: 8%;
    }
    .otherLogo__item__title{
        display: none;
    }
    .sideBarLogo{
        display: none;
    }
    .sideBarLogo__ins{
        display:block;
        width: 100%;
    }
}

.signout{
    position:absolute;
    border: 1px solid lightgray;
    padding: 5px 10px;
    bottom: 10%;
    left:10%;
    width: 75%;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 1px 1px 8px #888888;;
}

/* @media (max-width:768px) {
    .leftSideBar{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

    }
    .mainLogo{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .sideBarLogo__ins{
        display: none;
    }
    .otherLogo{
        flex-direction: row;
        align-items: flex-end;
        border-top: 1px solid lightgray;
    }
    .hamburger{
        display: none;
    }
} */